<div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>This Website was developed by the InfoCounch team. The team consists of one FullStack Developer: Mathai Puthiakunnel. The goal of InfoCounch, aside from develivering you info on countries, is to demonstrate my ability to build a web application using
        node.js, express and mongoDB.
    </p>
</div>

<div class="w3-row-padding w3-grayscale">
    <div class="w3-col l3 m6 w3-margin-bottom">
        <img src="images/earth.jpg" alt="John" style="width:100%">
        <h3>Mathai Puthiakunnel</h3>
        <p class="w3-opacity">CEO & Founder</p>
        <img src="images/IMG_0060.jpg" alt="Mathai" style="width:17%">
        <p>Full Stack Developer in charge of this project.</p>
        <p><button class="w3-button w3-light-grey w3-block">Contact</button></p>
    </div>

    <!-- Contact Section -->
    <div class="w3-container w3-padding-32" id="contact">
        <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Contact</h3>
        <p>Lets get in touch and talk about your next project.</p>
        <form action="/action_page.php" target="_blank">
            <input class="w3-input w3-border" type="text" placeholder="Name" required name="Name">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Email" required name="Email">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Subject" required name="Subject">
            <input class="w3-input w3-section w3-border" type="text" placeholder="Comment" required name="Comment">
            <button class="w3-button w3-black w3-section" type="submit">
        <i class="fa fa-paper-plane"></i> SEND MESSAGE
      </button>
        </form>
    </div>