<!DOCTYPE html>
<html>

<head class="background" style="background-color:#A52A2A;" >

	<title>Country Info API's</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="device-mockups/device-mockups.min.css">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="stylesheets/style.css" type="css">
    <link href="css/new-age.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Info Counch</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">Welcome to </h1>
        <h2 class="masthead-subheading mb-0">InfoCounch</h2>
      </div>
    </div>
<body class="background" style="background-color: #0000FF; background-image: url(nasa.jpg);">
<h1 class="mt-4"></h1>
<h2 class="lead mb-3">Welcome <%= user.username %>
</h2>
	
<form class="ass" style="margin-top:20px; color:#A52A2A; margin-bottom: 100px; margin-right: 100px; margin-left: 100px;"  >
<div class="container" id="container">
	<div class="controls">
	            <div class="col-lg-12 my-auto">
                    <div class="device-container">
                        <div class="device-mockup ipad">
                            <div class="device">
                                <div class="screen">
                                    <img src="images/earth.png" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	
	<section class="align-items-center" style="text-align: center; margin-top:50px" id="fetch">
		
		<div style="box-sizing: 100px;">
		<h4 style="margin-bottom: 50px; color:black;" >If you want to know some information about a country simply search the name of the country below! </h4>
		<label for="inputlg">
		<input style="color: #A52A2A" class='name_Value' type="text" placeholder="Enter a Country"  id="searchbox">
		<button type="button" class="btn btn-primary" id="search">Search for a Country</button>
		</label>
		</div>


	
	</form>
    <div class="jumbotron" id="contain">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
           
            
          </div>
        </div>
      </div>
    </div>
	</div>
    </section>
</div>

	<footer>
		<caption>Website Developed by Mathai Puthiakunnel</caption>
	</footer>
	<script type="text/javascript" src="javascripts/scripts.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script type="text/javascript" src="http://use.typekit.com/oya4cmx.js"></script>

 <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="javascripts/new-age.min.js"></script>


</body>
<a href="/users/logout" class="btn btn-secondary">Logout</a>

</html>


